<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="duke"-->
        <!--class="main.com.springinaction.springidol.Juggler"-->
        <!--scope="prototype">-->
    <!--<property name="value" value="true" />-->
    <!--</bean>-->

    <!--<bean id="dao"-->
          <!--class="main.com.springinaction.springidol.customer.CustomerService">-->
        <!--<constructor-arg ref="CustomerDaoJdbs"/>-->
    <!--</bean>-->

    <!--<bean id="CustomerDaoJdbs"-->
          <!--class="main.com.springinaction.springidol.customer.CustomerDaoJdbs">-->
    <!--</bean>-->

    <context:annotation-config/>
    <context:component-scan base-package="main.com.springinaction.springidol"/>

</beans>